arctic==1.55.0
certifi==2017.7.27.1
chardet==3.0.4
coverage==4.4.1
Cython==0.27.2
decorator==4.1.2
enum34==1.1.6
Events==0.3
gevent==1.2.2
greenlet==0.4.12
idna==2.6
mockextras==1.0.2
multidict==3.3.0
numpy==1.13.3
pandas==0.21.0
py==1.4.34
pyaml==17.10.0
pymongo==3.5.1
pytest==3.2.3
pytest-cov==2.5.1
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
six==1.11.0
tzlocal==1.4
urllib3==1.26.5
vcrpy==1.11.1
websocket-client==0.44.0
wrapt==1.10.11
yarl==0.13.0
